{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "rules": {
        "semi": 1,
        "eqeqeq": 1,
        "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }],
        "no-console": 1,
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "mocha/no-exclusive-tests": "error"
    },
    "plugins": [
        "react",
        "mocha"
    ]
}
